<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="pom.irctc.testcases.TC001"/>
      <class name="pom.irctc.testcases.TC008"/>
      <class name="pom.irctc.testcases.TC002"/>
      <class name="pom.irctc.testcases.TC009"/>
      <class name="pom.irctc.testcases.TC003"/>
      <class name="pom.irctc.testcases.TC004"/>
      <class name="pom.irctc.testcases.TC005"/>
      <class name="pom.irctc.testcases.TC006"/>
      <class name="pom.irctc.testcases.TC007"/>
      <class name="pom.irctc.testcases.TC0010"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
